{{#each downtime_instances as |downtime_instance|}}

<div data-id="{{downtime_instance.id}}">
  <h3>Downtime Instance #{{downtime_instance.id}}</h3>
  <p>
    {{#if downtime_instance.activity}}
      Date: {{downtime_instance.date}}
    {{else}}
      No date recorded. You should update this.
    {{/if}}
  </p>
  <p>
    {{#if downtime_instance.activity}}
      Time: {{downtime_instance.time}}
    {{else}}
      No time recorded. You should update this.
    {{/if}}
  </p>
  <p>
    {{#if downtime_instance.activity}}
      Activity: {{downtime_instance.activity}}
    {{else}}
      No activity recorded.  We assume you were fighting aliens.
    {{/if}}
  </p>
</div>

{{/each}}
